[Unit]
Description=Checa servicos criticos a cada 10 min

[Timer]
OnCalendar=*-*-* *:0/10
AccuracySec=1min
Persistent=false

[Install]
WantedBy=timers.target