[Unit]
Description=Checa servicos criticos a cada 10 min

[Timer]
OnCalendar=*-*-* 00,10,20,30,40,50:00
AccuracySec=1min
Persistent=false

[Install]
WantedBy=timers.target